@using System.Globalization
@{
    ViewBag.Title = "Daily Deals设置>商品管理";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
@section HtmlHead
{
    @Html.JsFor("promotionArea.js", "~/Js/bootstrap-formhelpers.js,~/Js/Marketing/Marketing.js", fileVersion: "1.4")
    @Html.CssFor("promotionArea.css", "~/Css/bootstrap-formhelpers.min.css", fileVersion: "1.0")
}

<label class="control-label">选择时间：（注：筛选范围为商品的开始时间）</label>
<form method="post" action="@Url.Content("~/Dailydeal/DailydealProductList")" id="searchForm" name="searchForm" class="form-search">
    @{
        var effectiveBeginDate = DateTime.Now.ToString(CultureInfo.InvariantCulture).Split(' ').First();
        var effectiveBeginTime = DateTime.Now.ToString(CultureInfo.InvariantCulture).Split(' ').LastOrDefault();
        var effectiveEndDate = DateTime.Now.AddDays(1).ToString(CultureInfo.InvariantCulture).Split(' ').First();
        var effectiveEndTime = DateTime.Now.AddDays(1).ToString(CultureInfo.InvariantCulture).Split(' ').LastOrDefault();
    }
    From：
            <div class="bfh-datepicker" data-format="y-m-d" data-date="@(effectiveBeginDate ?? string.Empty)" data-icon="icon-calendar" data-name="limitBeginDate" data-placeholder="开始时间"></div>
    <div class="bfh-timepicker" data-icon="icon-time" data-name="limitBeginTime" data-time="@(effectiveBeginTime ?? string.Empty)"></div>
    <code style="display: table-footer-group">（H:M:S）</code>
    <em id="beginerror" class="inline error"></em>
    To:
        <div class="bfh-datepicker" data-format="y-m-d" data-date="@(effectiveEndDate ?? string.Empty)" data-icon="icon-calendar" data-name="limitEndDate" data-placeholder="开始时间"></div>
    <div class="bfh-timepicker" data-icon="icon-time" data-name="limitEndTime" data-time="@(effectiveEndTime ?? string.Empty)"></div>
    <code>（H:M:S）</code>
    <em id="enderror" class="inline error"></em>
    <button class="btn" type="submit">搜索</button>
</form>
<a class="btn" href="@Url.Content("~/Dailydeal/DailydealEdit")">DailyDeals编辑</a>
<div class="clearboth"></div>
<hr/>
<div id="main" class="ajax-list" data-url="@Url.Content("~/Dailydeal/DailydealProductList")"></div>
