@using Com.Panduo.Service
@using Com.Panduo.Service.Review
@model PageData<ReviewProductCustomerView>
@{
    Layout = null;
}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th width="20%">产品名称</th>
            <th width="15%">客户Email</th>
            <th width="15%">客户姓名</th>
            <th width="10%">评分</th>
            <th width="10%">提交日期</th>
            <th width="10%">语言</th>
            <th width="10%">状态</th>
            <th width="10%">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var productReivew in Model.Data)
        {
            <tr>
                <td>
                    @productReivew.ProductName @Html.Raw("<a href='javascript:void(0)'>" + productReivew.ProductModel + "</a>")
                </td>
                <td>
                    @productReivew.Email
                </td>
                <td>
                    @productReivew.Name
                </td>
                <td>
                    @productReivew.Rating
                </td>
                <td>
                    @productReivew.DateCreated
                </td>
                <td>
                    @productReivew.LanguageChName
                </td>

                @if (productReivew.IsValid)
                {
                    <td>
                        <button id="@productReivew.Id" onclick="change(@productReivew.Id)" class='btn btn-mini btn-success'>显示</button>
                    </td>
                    <td>
                        <a class="btn btn-mini btn-info btn-info-view" id="data-@productReivew.Id" data-id="@productReivew.Id" data-loading-text="<i class='icon-edit icon-white'></i> 加载"><i class="icon-edit icon-white"></i>快速编辑</a>
                    </td>
                }
                else
                {
                    <td>
                        <button id="@productReivew.Id" onclick="change(@productReivew.Id)" class='btn btn-mini btn-danger'>隐藏</button>
                    </td>
                    <td>
                        <a class="btn btn-mini btn-info btn-info-view hide" id="data-@productReivew.Id" data-id="@productReivew.Id" data-loading-text="<i class='icon-edit icon-white'></i> 加载"><i class="icon-edit icon-white"></i>快速编辑</a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@Html.Partial("~/Views/Shared/Partial/_Page_Bottom.cshtml", Model.Pager)
<script>
    function change(id) {
        var isvalid = $("#" + id).attr("class").indexOf("btn-success") >= 0;
        $.ajax({
            type: "POST",
            url: "/Review/UpdateProductValid",
            data: { "id": id, "isvalid": isvalid },
            success: function (success) {
                if (success) {
                    if (isvalid) {
                        $("#" + id).attr("class", "btn btn-mini btn-danger");
                        $("#" + id).html("隐藏");
                        $("#data-" + id).addClass("hide");
                    }
                    else {
                        $("#" + id).attr("class", "btn btn-mini btn-success");
                        $("#" + id).html("显示");
                        $("#data-" + id).removeClass("hide");
                    }
                }
            }
        });
    }
</script>
