@using Com.Panduo.Service.Help
@{
    Layout = null;
    HelpArticle helpArticle = Model;
}
<style type="text/css">
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover
    {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        background-color: #f5f5f5;
    }
</style>
<form name="updateForm" action="/HelpCenter/ArticleSave" method="post" onsubmit="return false;">
    <div class="control-group">
        <div class="controls" style="margin: -15px; padding: 14px 15px 15px; background-color: #f5f5f5; border-bottom: 1px solid #ddd;">
            标题(中文)：<input type="text" class="input-xlarge" name="txtArticleTitle" id="txtArticleTitle" value="@helpArticle.Title" style="width: 500px" />(仅用于后台显示)
                        <input type="hidden" name="hidArticleId" value="@helpArticle.ArticleId" />
                        <input type="hidden" name="hidCategoryId" value="@helpArticle.HelpCategoryId" />
        </div>
        <div class="controls" style="margin-top: 15px;">
            <div class="tab-content">
                <ul class="nav nav-tabs">
                    @for (var i = 0; i < ViewBag.AllLanguage.Count; i++)
                    {
                        var className = "";
                        if (i == 0)
                        {
                            className = "class=active";
                        }
                        <li @className><a data-toggle="tab" href="javascript:void(0)" data-target="#tab_language_@ViewBag.AllLanguage[i].LanguageId">@ViewBag.AllLanguage[i].ChineseName</a></li>
                    }
                </ul>

                @for (var i = 0; i < ViewBag.AllLanguage.Count; i++)
                {
                    var item = ViewBag.AllLanguage[i];
                    var className = "tab-pane";
                    if (i == 0)
                    {
                        className = "tab-pane active";
                    }
                    HelpArticleDescription helpArticleDescription = helpArticle.Descriptions.IsNullOrEmpty() ? new HelpArticleDescription() : helpArticle.Descriptions.Find(x => x.LanguageId == item.LanguageId);
                    <div class="@className" id="tab_language_@item.LanguageId">

                        <div class="control-group">
                            <label class="control-label">标题：</label>
                            <div class="controls">
                                <input name="txtArticleName_@item.LanguageId" class="input-xlarge" type="text" value="@(helpArticleDescription.IsNullOrEmpty() ? "" : @helpArticleDescription.ArticleName)" style="width:600px;"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">内容：</label>
                            <div class="controls">
                                <textarea name="txtArticleContent_@item.LanguageId" rows="8" id="txtArticleContent_@item.LanguageId" style="width:700px;">@(helpArticleDescription.IsNullOrEmpty() ? "" : helpArticleDescription.ArticleContent)</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                显示在上一级：<label class="radio inline">
                                    <input name="IsShowParent_@item.LanguageId" type="radio" value="1" checked="@(helpArticleDescription.IsNullOrEmpty() || @helpArticleDescription.IsShowParent)" />是
                                </label>
                                <label class="radio inline">
                                    <input name="IsShowParent_@item.LanguageId" type="radio" value="0" checked="@(helpArticleDescription.IsNullOrEmpty() || @helpArticleDescription.IsShowParent)" />否
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                状态：<label class="radio inline">
                                    <input name="Status_@item.LanguageId" type="radio" value="1" checked="@(helpArticleDescription.IsNullOrEmpty() || @helpArticleDescription.IsShow)" />显示
                                </label>
                                <label class="radio inline">
                                    <input name="Status_@item.LanguageId" type="radio" value="0" checked="@(helpArticleDescription.IsNullOrEmpty() || @helpArticleDescription.IsShow)" />隐藏
                                </label>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>
