@{
    ViewBag.Title = "购物车14天未更新管理";
}
@section HtmlHead
{
    <script type="text/javascript">
        $(function () {
            function openBlank(action, data, n) {
                var form = $("<form/>").attr('action', action).attr('method', 'post');
                if (n)
                    form.attr('target', '_blank');
                var input = '';
                $.each(data, function (i, n) {
                    input += '<input type="hidden" name="' + i + '" value="' + n + '" />';
                });
                form.append(input).appendTo("body").css('display', 'none').submit();
            }

            $('body').on("click", "#topSendEmail,#bottomSendEmail", function () {

                if ($("input[type=checkbox][name=ckb]:checked").length < 1) {

                    alert('请选择客户');
                    
                } else {
                    var ckbs = $("#main").find("input[type=checkbox][name=ckb]:checked");
                    var items = "";
                    ckbs.each(function(i, item) {
                        var mail = $(item).data("email");
                        if (mail.length > 0) {
                            items = items + mail + ";";
                        }
                    });
                    items = items.substring(0, items.length - 1);
                    openBlank('/ShoppingCart/SendMailView', { CustomerEmail: items},true);
                }         
        });

        // 全选，反选
        $('body').on("click", "#ck_customer_all", function() {
            if ($(this).attr("checked")) {
                $("input[type=checkbox][name=ckb]").attr("checked", true);
            } else {
                $("input[type=checkbox][name=ckb]").attr("checked", false);
            }
        });
    });
    </script>
}
<h2>购物车14天未更新管理</h2>
<div class="pull-right">
    <div class="pull-right">
        <form method="post" action="@Url.Content("~/ShoppingCart/GetList")" id="searchForm" name="searchForm" class="form-search">
            关键词：<input type="text"  placeholder="客户ID或姓名或邮箱" name="keyword" value="@ViewBag.Keyword">
            语言：<select id="languageid" name="languageid">
                <option value="-1">所有</option>
                @foreach (var lang in ViewBag.Language)
                {
                    <option value="@lang.LanguageId">@lang.ChineseName</option>
                }
               </select>
            <button type="submit" class="btn"><i class="icon-search"></i>搜索</button>
        </form>
    </div>
</div>
<div class="clearboth"></div>
<div id="main" class="ajax-list" data-url="@Url.Content("~/ShoppingCart/GetList?page=" + ViewBag.Page)"></div>
