@using Com.Panduo.Service.Product
@using Resources
@model ProductInfo
<div class="similar_item">
    <div class="item_number">@Model.Product.ProductCode</div>
    <div class="similar_item_img">
        <a href="@UrlRewriteHelper.GetProductDetailUrl(Model.Product.ProductId, Model.ProductEnName)">
            @Html.Partial("~/Views/Product/Partial/__Promotion__Icon.cshtml", @Model)
            <img src="@ImageHelper.GetImageUrl(Model.Product.MainImage, 130)" />
        </a>
        <div class="similar_item_info">
            <p class="similar_item_name"><a href="@UrlRewriteHelper.GetProductDetailUrl(Model.Product.ProductId, Model.ProductEnName)">@Model.ProductName.ToCutString(31, " ...")</a></p>
            @if (!Model.ProductPrice.IsNullOrEmpty() && Model.ProductPrice.StepPrice.Count>0)
            { 
                var discount = PageHelper.GetDiscount(Model.ProductPrice);
                <div class="similar_item_price">
                    <p>@Lang.TipAsLowAs</p>
                    <p>@if (discount >0&& discount < 1)
                       {
                        <del class="fgrey">@PageHelper.GetCurrentCurrency().Format(PageHelper.ExchangeMoneyByUsd(Model.ProductPrice.StepPrice[Model.ProductPrice.StepPrice.Count-1].OriginalPrice))</del><br /> }
                        <span class="fred">@PageHelper.GetProductAsLowAsPrice(Model.ProductPrice)</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
        <div>
           @if (Model.Product.Status == ProductStatus.OffLine)
           {
               <a rel="nofollow" class="btn_removed lf btn_w119">@Lang.TipRemoved</a>
               <div class="clearfix"></div>
           }
           else
           {
               if (Model.Product.Status == ProductStatus.BackOrder)
                {
                    <a rel="nofollow" class="lf btn_orange btn_w119" href="javascript:void(0)" data-productid="@Model.Product.ProductId" onclick=" fnBackorderAddToCart(this) ">@Lang.TipBackorder</a>
                }
                else
                {
                    <label>
                        <input class="lf inputw60 input_text_wrap" type="text" value="1" name="input_qty_@Model.Product.ProductId"/></label>
                    <a rel="nofollow" class="lf btn_orange btn_w50 cart_btn_add" data-productid="@Model.Product.ProductId" data-pagesource="productsimiliar" href="javascript:void(0)"><ins class="btn_cart"></ins></a>
                }
               <a rel="nofollow" class="rt btn_grey btn_w30 wishlist_btn_add" data-productid="@Model.Product.ProductId" data-pagesource="productsimiliar" href="javascript:void(0)"><ins class="btn_wishlist"></ins></a>
               <div class="clearfix"></div>
               if (Model.ProductStock.JudgeStocklimit() && Model.ProductStock.StockNumber > 0)
                {
                    <p>@Model.ProductStock.StockNumber @Lang.TipStockAvailable</p>
                }
                else if (Model.Product.Status == ProductStatus.BackOrder)
                {
                    int days = Model.ProductStock.GetProductStockDay();
                    if (days > 0)
                    {
                        @Html.Raw("<p class=\"fgrey_mid\">" + @days + " days </p>")
                    }
                    else
                    {
                        @Html.Raw("<p class=\"fgrey_mid\">in 15 days </p>")
                    }
                }
           }
        </div>
    </div>
</div>
