@using Com.Panduo.Service.Payment
@using Com.Panduo.Service.Payment.PayConfig
@using Com.Panduo.Service.SiteConfigure
@using Com.Panduo.Web.Models.Order
@using Resources
@model OrderDetailVo
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/Layout/_Layout_NoLeft.cshtml";
    var order = Model.Order;
    Dictionary<string, object> paymentConfig = ViewBag.paymentConfig;
    var urlDownloadPaymentFile = Url.Content("~/Payment/DownloadPaymentFile?orderNo=" + order.OrderNo + "&type=");
    var urlReadPaymentFile = Url.Content("~/Payment/ReadPaymentFile?orderNo=" + order.OrderNo + "&type=");

    List<CountryLanguage> commonCountryLanguages = ViewBag.commonCountryLanguages ?? new List<CountryLanguage>();
    List<CountryLanguage> countryLanguages = ViewBag.countryLanguages ?? new List<CountryLanguage>();
    CountryLanguage countryLanguage = ViewBag.countryLanguage ?? new CountryLanguage();
}
@section HtmlHead
{
    @Html.JsFor("OrderDetailPayment.js", "~/Js/jquery-ui-1.10.4.custom.min.js,~/Js/uploadify/jquery.uploadify.js", fileVersion: "1.2")
    @Html.CssFor("OrderDetailPayment.css", "~/Css/jquery-ui-1.10.4.custom.min.css,~/Css/uploadify.css", fileVersion: "1.1")
    @* for test 需要jsfor *@
    <script type="text/javascript" src="~/Js/Order/Payment.js"></script>
}

@Html.Partial("~/Views/Account/Partial/_Account_Siderbar_Menu.cshtml")
<div id="main" class="account_wrap">
    <h2 class="font14 account_title">@Lang.TipOrderDetails<span></span>
    </h2>
    <h4 class="order_number"><strong>@Lang.TipOrderNumber</strong><a class="fblue_mid" href="@UrlRewriteHelper.GetOrderDetail(order.OrderNo)">@order.OrderNo</a>@PageHelper.ToCurrentShortDate(order.OrderTime)
        <a href="javascript:void(0)" class="norton"></a>
    </h4>
    <div class="order_show_cont">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><span class="font14">@Lang.TipPaymentDetailsUp</span></th>
                <th><span class="font14">@Lang.TipShippingInfo</span></th>
            </tr>
            <tr>
                <td>
                    <div class="pay_info">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <th>@Lang.TipPaymentMethodPun</th>
                                <td><strong>@Model.PaymentName</strong></td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" style="display: none;" id="tabPaymentViewDetail">
                            <tr>
                                <th>@Lang.TipDiscountedItem</th>
                                <td><span>(+)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.OriginalProductAmount * Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                            </tr>
                            @if (Model.Order.OrderCost.DiscountProductAmount > 0)
                            {
                                <tr>
                                    <th>@Lang.TipProductDiscount</th>
                                    <td><span>(-)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.DiscountProductAmount * Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                                </tr>
                            }
                            <tr>
                                <th>@Lang.TipRegularPriceItem</th>
                                <td><span>(+)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.NoDiscountProductAmount * Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                            </tr>
                            @if (Model.Order.OrderCost.VipLessAmount > 0)
                            {
                                <tr>
                                    <th>@Lang.TipVipDiscountRcd</th>
                                    <td><span>(-)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.VipLessAmount * Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                                </tr>
                            }
                            @if (Model.Order.OrderCost.OrderDiscountLessAmount > 0)
                            {
                                <tr>
                                    <th>@Lang.TipOrdDisAmount</th>
                                    <td><span>(-)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.OrderDiscountLessAmount * Model.Order.ExchangeRate, Model.Order.Currency)<br />
                                        <em>@string.Format(Lang.TipPrecentOff,Model.Order.OrderCost.OrderDiscount * 100)</em></span></td>
                                </tr>
                            }
                               @if (Model.Order.OrderCost.FreeShippingFee > 0 || Model.Order.OrderCost.ClubFee > 0)
                               {
                                   <tr>
                                       <th>@Lang.TipHandlingFee</th>
                                       <td><span>(+)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.FreeShippingFee > 0 ? Model.Order.OrderCost.FreeShippingFee*Model.Order.ExchangeRate : Model.Order.OrderCost.ClubFee*Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                                   </tr>
                               }
                            @if (Model.Order.OrderCost.TotalShippingCost > 0)
                            {
                                <tr>
                                    <th>@Lang.TipEstShippingCost</th>
                                    <td><span>(+)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.TotalShippingCost*Model.Order.ExchangeRate, Model.Order.Currency)</span></td>
                                </tr>
                            }
                                @if (Model.Order.OrderCost.CouponAmt > 0)
                                {
                                    <tr>
                                        <th>@Lang.TipCoupon</th>
                                        <td><span>(-)<i>@Model.Order.Currency</i>@Model.Order.OrderCost.CouponAmt</span></td>
                                    </tr>
                                }
                        </table>
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <th><strong>@Lang.TipGrandTotal</strong></th>
                                <td><span><strong class="fred">(+)<i>@Model.Order.Currency</i>@PageHelper.MoneyFormat(Model.Order.OrderCost.TotalOrderAmt * Model.Order.ExchangeRate, Model.Order.Currency)</strong></span></td>
                            </tr>
                        </table>
                        <div class="action_cont">
                            <a href="javascript:void(0)" id="paymentViewDetail" class="btn_grey btn_p30">View Details<ins class="arrow_down"></ins></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="shipping_info">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <th>@Lang.TipShippingAddressPun</th>
                                <td>
                                    @if (!Model.OrderShippingAddress.IsNullOrEmpty())
                                    {
                                        <strong>@Model.OrderShippingAddress.FullName</strong>
                                        <p>@Model.OrderShippingAddress.Street1</p>
                                        if (!Model.OrderShippingAddress.Street2.IsNullOrEmpty())
                                        { 
                                        <p>@Model.OrderShippingAddress.Street2</p>
                                        }
                                        <p>@(Model.OrderShippingAddress.City),@Model.OrderShippingAddress.Province @Model.OrderShippingAddress.ZipCode</p>
                                        <p>@Model.OrderShippingAddress.CountryName</p>
                                        <p>@Lang.TipPhone@Model.OrderShippingAddress.Telphone</p>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>@Lang.TipShippingMethodsPun</th>
                                <td>@Html.Raw(Model.ShippingName) @*(Total Box Number: 1)*@</td>
                            </tr>
                            @if (!Model.ShippingDay.IsNullOrEmpty())
                            {
                                <tr>
                                    <th>@Lang.TipEstShippingTimePun</th>
                                    <td>@Model.ShippingDay.DayLow-@Model.ShippingDay.DayHigh @Lang.TipWorkdays</td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <h3>Pay for Order</h3>
    <div class="order_pay_cont">
        <div class="account_balance" style="display: block;">
            @* cash有欠款 *@
            @if (ViewBag.debtCashUsd > 0)
            {
                <h5>@Lang.TipCreditAccountBalance</h5>
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>@Lang.TipGrandTotal</th>
                        <td><span class="fred money">@order.Currency @PageHelper.MoneyFormat(order.OrderCost.TotalOrderAmt * Model.Order.ExchangeRate, order.Currency)</span></td>
                    </tr>
                    <tr>
                        <th>@Lang.TipMoneyYouOwe</th>
                        <td><span class="fred money">@order.Currency @PageHelper.MoneyFormat(ViewBag.debtCashUsd * Model.Order.ExchangeRate, order.Currency)</span></td>
                    </tr>
                    <tr>
                        <th>@Lang.TipNeedToPay</th>
                        <td><strong class="fred money">@order.Currency @PageHelper.MoneyFormat((order.OrderCost.TotalOrderAmt + ViewBag.debtCashUsd) * Model.Order.ExchangeRate, order.Currency)</strong></td>
                    </tr>
                </table>
            }
@* cash余额大于0 *@
            else if (ViewBag.cashBalanceUsd > 0)
            {
                <h5>@Lang.TipCreditAccountBalance</h5>
                <input type="hidden" id="hidCashBalanceUsd" value="@ViewBag.cashBalanceUsd"/>
                <input type="hidden" id="hidCashBalance" value="@PageHelper.MoneyFormat(ViewBag.cashBalanceUsd * Model.Order.ExchangeRate, order.Currency)" />
                <input type="hidden" id="hidTotalOrderAmtUsd" value="@order.OrderCost.TotalOrderAmt"/>
                <input type="hidden" id="hidTotalOrderAmt" value="@PageHelper.MoneyFormat(order.OrderCost.TotalOrderAmt * Model.Order.ExchangeRate, order.Currency)" />
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>@Lang.TipGrandTotal</th>
                        <td><span class="fred">@order.Currency @PageHelper.MoneyFormat(order.OrderCost.TotalOrderAmt * Model.Order.ExchangeRate, order.Currency)</span></td>
                    </tr>
                    <tr>
                        <th>@Lang.TipBalance</th>
                        <td>
                            <label>
                                <input type="checkbox" checked="checked" name="radio4" id="chkUseCash" />I want to use it in this order. <span class="fred">(@order.Currency @PageHelper.MoneyFormat(ViewBag.cashBalanceUsd * Model.Order.ExchangeRate, order.Currency))</span>@if (ViewBag.cashBalanceUsd >= order.OrderCost.TotalOrderAmt)
                                                                                                                                                                                                                                                                               {@Html.Raw(" -(Balance  left: " + order.Currency + " <span id=\"spanBlanceLeft\">" + PageHelper.MoneyFormat((ViewBag.cashBalanceUsd - order.OrderCost.TotalOrderAmt) * Model.Order.ExchangeRate, order.Currency) + "</span>)") }</label></td>
                    </tr>
                    <tr>
                        <th>@Lang.TipNeedToPay<</th>
                        @{
                                                                                                                                                                                                                                                                               var needToPayUsd = order.OrderCost.TotalOrderAmt - ViewBag.cashBalanceUsd < 0 ? 0 : order.OrderCost.TotalOrderAmt - ViewBag.cashBalanceUsd;
                        }
                        <td><strong class="fred">@order.Currency <span id="spanNeedToPay">@PageHelper.MoneyFormat((needToPayUsd) * Model.Order.ExchangeRate, order.Currency)</span></strong></td>
                    </tr>
                    @if (ViewBag.cashBalanceUsd >= order.OrderCost.TotalOrderAmt)
                    {
                        <tr>
                            <th></th>
                            <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="cashSubmit">@Lang.TipConfirm</a></td>
                        </tr>
                    }
                </table>
            }
@* 没有cash余额 *@
            else
            {
                <table cellpadding="0" cellspacing="0">
                    <tr>
                        <th>@Lang.TipGrandTotal</th>
                        <td><strong class="fred">@order.OrderCost.TotalOrderAmt.ToExchangeCurrencyMoneyString(order.Currency, order.ExchangeRate)</strong></td>
                    </tr>
                </table>
            }
        </div>
        <div class="pay_method_cont">
            <input type="hidden" id="hidFromOrderDetail" value="1" />
        <input type="hidden" id="hidOrderNo" value="@order.OrderNo"/>
            @if (ViewBag.gcErrorMessage != null)
            {
                <div class="address_warning error" style="display: block">
                    <ins class="lf"></ins>
                    <p class="lf">
                        @Html.Raw(ViewBag.gcErrorMessage)<br/>
                        @Html.Raw(Lang.TipPleaseSolutionUnder)
                    </p>
                </div>
            }
            <div class="address_warning error">
                <ins class="lf"></ins>
                <p class="lf">
                    @Html.Raw(Lang.TipShipKindlySolution)
                </p>
            </div>
            <h5>@Lang.TipPaymentMethods</h5>
            <div class="pay_note">
                @Lang.TipForFeeDetail
            </div>
            <table cellpadding="0" cellspacing="0">
                @if (ViewBag.canUsePaypal)
                {
                    PaypalConfig paypal = (PaypalConfig)paymentConfig["Paypal"];
                    <tr>
                        <td>
                            <input name="radio5" type="radio" id="paypal" checked="checked" class="method_payment"><label for="paypal"><ins class="paypal"></ins></label><label for="paypal"><span>@Lang.TipPaymentNamePaypal</span></label>
                            <div class="method_info_cont" style="display: block;" id="cont_paypal">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipPayClickBelow</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="paypalSubmit">@Lang.TipPayNow</a></td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>@Html.Raw(string.Format(Lang.TipOrSendYou,paypal.Account))</td>
                                    </tr>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseHsbc)
                {
                    HsbcConfig hsbc = (HsbcConfig)paymentConfig["Hsbc"];
                    <tr>
                        <td>
                            <input type="radio" id="hsbc" name="radio5" class="method_payment"><label for="hsbc"><ins class="hsbc"></ins></label><label for="hsbc"><span>@Lang.TipPaymentNameHsbc</span></label>
                            <div class="method_info_cont" id="cont_hsbc">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th colspan="2" class="title">@Lang.TipHSBCBankAccount<a class="download" href="@(urlDownloadPaymentFile + (int)PaymentType.Hsbc)"></a><a href="@(urlReadPaymentFile + (int)PaymentType.Hsbc)" class="print" target="_blank"></a></th>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBeneficiaryBank</th>
                                        <td>@hsbc.BankName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipSWIFTCode</th>
                                        <td>@hsbc.SwiftCode</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBankAddress </th>
                                        <td>@hsbc.Address</td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th>@Lang.TipBankAccountNum</th>
                                        <td>@hsbc.AccountNumber</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBeneficiary</th>
                                        <td>@hsbc.Beneficiary</td>
                                    </tr>
                                </table>
                                <div class="form_infor">
                                    <p>@Lang.TipFillWeInfo</p>
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th colspan="2"><strong>@Lang.TipOrderNoPun</strong> @order.OrderNo</th>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipCurrency</td>
                                            <td>
                                                <div class="select_cont select_w104" id="divHsbcCurrencyCode">
                                                    <label class="select_cont_span">@order.Currency</label>
                                                    <div class="pop_select_cont">
                                                        <ul>
                                                            @foreach (var c in CacheHelper.Currencies)
                                                            {
                                                                <li class="list_item @(order.Currency == c.CurrencyCode ? "active" : "")" data-value="@c.CurrencyCode">@c.CurrencyCode</li>
                                                            }
                                                            <li class="list_item" data-value="-1">@Lang.TipOthers</li>
                                                        </ul>
                                                    </div>
                                                    <input id="hsbcCurrencyCode" type="hidden" value="@order.Currency" name="hsbcCurrencyCode">
                                                </div>
                                                <div class="others_currency" id="divHsbcCurrencyCodeOther">
                                                    <input class="inputw130 input_text_wrap" type="text" name="hsbcCurrencyCodeOther" id="hsbcCurrencyCodeOther" /><span class="fgrey">@Lang.TipYourCurrency</span>
                                                    <div class="fred hide" id="hsbcCurrencyCodeErr">@Lang.TipFillCurrencyUsed</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipAmount</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="hsbcAmount" id="hsbcAmount" />
                                                <div class="fred hide" id="hsbcAmountErr">@Lang.TipEnterAmount</div>
                                                <div class="fred hide" id="hsbcAmountErr1">@Lang.TipAmountNumType</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipPaymentDate</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap datepicker" type="text" name="hsbcDate" id="hsbcDate" />
                                                <div class="fred hide" id="hsbcDateErr">@Lang.TipEnterPayDate</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred"></span>@Lang.TipPaymentRec</td>
                                            <td>
                                                <input type="file" name="hsbcReceipt_ud" id="hsbcReceipt_ud" />
                                                <input type="hidden" name="hsbcReceipt" id="hsbcReceipt" />
                                                <p>@Lang.TipLessThan2M</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="hsbcSubmit">@Lang.TipSubmit</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tip">
                                    <span class="fred">@Lang.TipTips</span>
                                    <ol>
                                        @Html.Raw(Lang.TipOderDtlPayHtml)
                                    </ol>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseBankOfChina)
                {
                    BankOfChinaConfig bankOfChina = (BankOfChinaConfig)paymentConfig["BankOfChina"];
                    <tr>
                        <td>
                            <input type="radio" id="china" name="radio5" class="method_payment"><label for="china"><ins class="china"></ins></label><label for="china"><span>@Lang.TipPaymentNameBankOfChina</span></label>
                            <div class="method_info_cont" id="cont_china">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th colspan="2" class="title">@Lang.TipChinaBankAccount<a class="download" href="@(urlDownloadPaymentFile + (int)PaymentType.BankOfChina)"></a><a href="@(urlReadPaymentFile + (int)PaymentType.BankOfChina)" class="print" target="_blank"></a></th>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBeneficiaryBank</th>
                                        <td>@bankOfChina.BankName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipSWIFTCode</th>
                                        <td>@bankOfChina.SwiftCode</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBankAccountName</th>
                                        <td>@bankOfChina.AccountName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBankAccountNum </th>
                                        <td>@bankOfChina.AccountNumber</td>
                                    </tr>
                                </table>
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th>@Lang.TipBankAddress </th>
                                        <td>@bankOfChina.Address</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipBankAccountPhone</th>
                                        <td>@bankOfChina.Phone</td>
                                    </tr>
                                </table>
                                <div class="form_infor">
                                    <p>@Lang.TipFillWeInfo</p>
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th colspan="2"><strong>@Lang.TipOrderNoPun</strong> @order.OrderNo</th>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipCurrency</td>
                                            <td>
                                                <div class="select_cont select_w104" id="divChinaCurrencyCode">
                                                    <label class="select_cont_span">@order.Currency</label>
                                                    <div class="pop_select_cont">
                                                        <ul>
                                                            @foreach (var c in CacheHelper.Currencies)
                                                            {
                                                                <li class="list_item @(order.Currency == c.CurrencyCode ? "active" : "")" data-value="@c.CurrencyCode">@c.CurrencyCode</li>
                                                            }
                                                            <li class="list_item" data-value="-1">@Lang.TipOthers</li>
                                                        </ul>
                                                    </div>
                                                    <input id="chinaCurrencyCode" type="hidden" value="@order.Currency" name="chinaCurrencyCode">
                                                </div>
                                                <div class="others_currency" id="divChinaCurrencyCodeOther">
                                                    <input class="inputw130 input_text_wrap" type="text" name="chinaCurrencyCodeOther" id="chinaCurrencyCodeOther" /><span class="fgrey">@Lang.TipYourCurrency</span>
                                                    <div class="fred hide" id="chinaCurrencyCodeErr">@Lang.TipFillCurrencyUsed</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipAmount</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="chinaAmount" id="chinaAmount" />
                                                <div class="fred hide" id="chinaAmountErr">@Lang.TipEnterAmount</div>
                                                <div class="fred hide" id="chinaAmountErr1">@Lang.TipAmountNumType</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipPaymentDate</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap datepicker" type="text" name="chinaDate" id="chinaDate" />
                                                <div class="fred hide" id="chinaDateErr">@Lang.TipEnterPayDate</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred"></span>@Lang.TipPaymentRec</td>
                                            <td>
                                                <input type="file" name="chinaReceipt_ud" id="chinaReceipt_ud" />
                                                <input type="hidden" name="chinaReceipt" id="chinaReceipt" />
                                                <p>@Lang.TipLessThan2M</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="chinaSubmit">@Lang.TipSubmit</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tip">
                                    <span class="fred">@Lang.TipTips</span>
                                    <ol>
                                        @Html.Raw(Lang.TipOderDtlPayHtml)
                                    </ol>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseWesternUnion)
                {
                    WesternUnionConfig westernUnion = (WesternUnionConfig)paymentConfig["WesternUnion"];
                    <tr>
                        <td>
                            <input type="radio" id="union" name="radio5" class="method_payment"><label for="union"><ins class="union"></ins></label><label for="union"><span>@Lang.TipPaymentNameWesternUnion</span></label>
                            <div class="method_info_cont" id="cont_union">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th colspan="2" class="title">@Lang.TipWesternBankAccount<a class="download" href="@(urlDownloadPaymentFile + (int)PaymentType.WesternUnion)"></a><a href="@(urlReadPaymentFile + (int)PaymentType.WesternUnion)" class="print" target="_blank"></a></th>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipFirstName</th>
                                        <td>@westernUnion.FirstName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipLastName</th>
                                        <td>@westernUnion.LastName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipAddress </th>
                                        <td>@westernUnion.Address</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipZipCode </th>
                                        <td>@westernUnion.ZipCode</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipCity </th>
                                        <td>@westernUnion.City</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipCountry </th>
                                        <td>@westernUnion.Country</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipPhone </th>
                                        <td>@westernUnion.Phone</td>
                                    </tr>
                                </table>
                                <div class="form_infor">
                                    <p>@Lang.TipFillWeInfo</p>
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th colspan="2"><strong>@Lang.TipOrderNoPun</strong> @order.OrderNo</th>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipCurrency</td>
                                            <td>
                                                <div class="select_cont select_w104" id="divUnionCurrencyCode">
                                                    <label class="select_cont_span">@order.Currency</label>
                                                    <div class="pop_select_cont">
                                                        <ul>
                                                            @foreach (var c in CacheHelper.Currencies)
                                                            {
                                                                <li class="list_item @(order.Currency == c.CurrencyCode ? "active" : "")" data-value="@c.CurrencyCode">@c.CurrencyCode</li>
                                                            }
                                                            <li class="list_item" data-value="-1">@Lang.TipOthers</li>
                                                        </ul>
                                                    </div>
                                                    <input id="unionCurrencyCode" type="hidden" value="@order.Currency" name="unionCurrencyCode">
                                                </div>
                                                <div class="others_currency" id="divUnionCurrencyCodeOther">
                                                    <input class="inputw130 input_text_wrap" type="text" name="unionCurrencyCodeOther" id="unionCurrencyCodeOther" /><span class="fgrey">@Lang.TipYourCurrency</span>
                                                    <div class="fred hide" id="unionCurrencyCodeErr">@Lang.TipFillCurrencyUsed</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipAmount</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="unionAmount" id="unionAmount" />
                                                <div class="fred hide" id="unionAmountErr">@Lang.TipEnterAmount</div>
                                                <div class="fred hide" id="unionAmountErr1">@Lang.TipAmountNumType</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipControlNum</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="unionControlNo" id="unionControlNo" />
                                                <div class="fred hide" id="unionControlNoErr">@Lang.TipEnterControlNum</div>
                                                <div class="fred hide" id="unionControlNoErr1">@Lang.TipControlNumType</div>
                                                <div class="fred hide" id="unionControlNoErr2">@string.Format(Lang.TipControlnNum,10)</div>
                                                <p>@string.Format(Lang.TipDigitsConNum,10)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred"></span>@Lang.TipPaymentRec</td>
                                            <td>
                                                <input type="file" name="unionReceipt_ud" id="unionReceipt_ud" />
                                                <input type="hidden" name="unionReceipt" id="unionReceipt" />
                                                <p>@Lang.TipLessThan2M</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="unionSubmit">@Lang.TipSubmit</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tip">
                                    <span class="fred">@Lang.TipTips</span>
                                    <ol>
                                        @Html.Raw(Lang.TipOderDtlPayHtml)
                                    </ol>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseGlobalCollect)
                {
                    <tr>
                        <td>
                            <input type="radio" id="visa" name="radio5" class="method_payment"><label for="visa"><ins class="visa"></ins></label><label for="visa"><span>@Lang.TipPaymentNameGc</span></label>
                            <div class="method_info_cont" id="cont_visa">
                                <table cellpadding="0" cellspacing="0" class="credit_card">
                                    <tr class="credit">
                                        <td>
                                            <input type="radio" name="gcType" checked="checked" id="credit_visa" value="@((int)GlobalCollectType.Visa)"/><label for="credit_visa"><ins class="credit_visa"></ins></label><label for="credit_visa">@Lang.TipVisa</label></td>
                                        <td>
                                            <input type="radio" name="gcType" id="credit_master" value="@((int)GlobalCollectType.MasterCard)"/><label for="credit_master"><ins class="credit_master"></ins></label><label for="credit_master">@Lang.TipMasterCard</label></td>
                                        <td colspan="3"></td>
                                    </tr>
                                </table>
                                <div id="iframeGcLoading"><img class="loading" src="@Url.Content("~/Images/loading.gif")" /></div>
                                <div id="iframeGcDiv"><iframe id="iframeGc" style="width: 480px; height: 280px; border: 0px;" src="about:blank"></iframe></div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUsePaypalCreditCard)
                {
                    <tr>
                        <td>
                            <input type="radio" id="paypalvisa" name="radio5" class="method_payment"><label for="paypalvisa"><ins class="visa"></ins></label><label for="paypalvisa"><span>@Lang.TipCreditCardPayPal</span></label>
                            <div class="method_info_cont" id="cont_paypalvisa">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipPayPalWebsite</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipNoPayPalStillPay <a href="//www.paypal.com" class="fblue font_underline">@Lang.TipViewHow</a></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a href="javascript:void(0)" class="btn_orange btn_p30" id="paypalCreditSubmit">@Lang.TipPayNow</a></td>
                                    </tr>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseMoneyGram)
                {
                    MoneyGramConfig moneyGram = (MoneyGramConfig)paymentConfig["MoneyGram"];
                    <tr>
                        <td>
                            <input type="radio" id="mg" name="radio5" class="method_payment"><label for="mg"><ins class="mg"></ins></label><label for="mg"><span>@Lang.TipPaymentNameMoneyGram</span></label>
                            <div class="method_info_cont" id="cont_mg">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <th colspan="2" class="title">@Html.Raw(Lang.TipMGBankAccount)<a class="download" href="@(urlDownloadPaymentFile + (int)PaymentType.MoneyGram)"></a><a href="@(urlReadPaymentFile + (int)PaymentType.MoneyGram)" class="print" target="_blank"></a></th>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipFirstName</th>
                                        <td>@moneyGram.FirstName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipLastName</th>
                                        <td>@moneyGram.LastName</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipAddress </th>
                                        <td>@moneyGram.Address</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipZipCode </th>
                                        <td>@moneyGram.ZipCode</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipCity </th>
                                        <td>@moneyGram.City</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipCountry </th>
                                        <td>@moneyGram.Country</td>
                                    </tr>
                                    <tr>
                                        <th>@Lang.TipTelphone </th>
                                        <td>@moneyGram.Phone</td>
                                    </tr>
                                </table>
                                <div class="form_infor">
                                    <p>@Lang.TipFillWeInfo</p>
                                    <table cellpadding="0" cellspacing="0">
                                        <tr>
                                            <th colspan="2"><strong>@Lang.TipOrderNoPun</strong> @order.OrderNo</th>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipFullOfRem </td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="mgFullNameOfRemitter" id="mgFullNameOfRemitter" />
                                                <div class="fred hide" id="mgFullNameOfRemitterErr">@Lang.TipEntFullOfRem</div>
                                                <div class="fred hide" id="mgFullNameOfRemitterErr1">@Lang.TipFullRemChar</div>
                                                <div class="fred hide" id="mgFullNameOfRemitterErr2">@Lang.TipNameOneY</div>
                                                <div class="fred">@Lang.TipWriteRemEn</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipYourCountry </td>
                                            <td>
                                                <div class="select_cont select_w271 select_search" style="z-index: 100">
                                                    <label class="select_cont_span">@countryLanguage.CountryName</label>
                                                    <div class="pop_select_cont">
                                                        <input name="" type="text" class="input_text_wrap inputw260" />
                                                        <ul>
                                                            <li class="list_line">----------</li>
                                                            @foreach (var country in commonCountryLanguages)
                                                            {
                                                                <li class="list_item @(country.CountryId == countryLanguage.CountryId ? "active" : "")" data-value="@country.CountryId">@country.CountryName</li>
                                                            }
                                                            <li class="list_line">----------</li>
                                                            @foreach (var country in countryLanguages)
                                                            {
                                                                <li class="list_item @(country.CountryId == countryLanguage.CountryId ? "active" : "")" data-value="@country.CountryId">@country.CountryName</li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <input type="hidden" id="mgCountryId" name="mgCountryId" value="@countryLanguage.CountryId"/>
                                                </div>
                                                <div class="fred hide">@Lang.TipThisIsText</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipCurrency</td>
                                            <td>
                                                <div class="select_cont select_w104" id="divMgCurrencyCode">
                                                    <label class="select_cont_span">@order.Currency</label>
                                                    <div class="pop_select_cont">
                                                        <ul>
                                                            @foreach (var c in CacheHelper.Currencies)
                                                            {
                                                                <li class="list_item @(order.Currency == c.CurrencyCode ? "active" : "")" data-value="@c.CurrencyCode">@c.CurrencyCode</li>
                                                            }
                                                            <li class="list_item" data-value="-1">@Lang.TipOthers</li>
                                                        </ul>
                                                    </div>
                                                    <input id="mgCurrencyCode" type="hidden" value="@order.Currency" name="mgCurrencyCode">
                                                </div>
                                                <div class="others_currency" id="divMgCurrencyCodeOther">
                                                    <input class="inputw130 input_text_wrap" type="text" name="mgCurrencyCodeOther" id="mgCurrencyCodeOther" /><span class="fgrey">@Lang.TipYourCountry</span>
                                                    <div class="fred hide" id="mgCurrencyCodeErr">@Lang.TipFillCurrencyUsed</div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>Amount:</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="mgAmount" id="mgAmount" />
                                                <div class="fred hide" id="mgAmountErr">@Lang.TipEnterAmount</div>
                                                <div class="fred hide" id="mgAmountErr1">@Lang.TipAmountNumType</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred">* </span>@Lang.TipControlNum</td>
                                            <td>
                                                <input class="inputw233 input_text_wrap" type="text" name="mgControlNo" id="mgControlNo" />
                                                <div class="fred hide" id="mgControlNoErr">@Lang.TipEnterControlNum</div>
                                                <div class="fred hide" id="mgControlNoErr1">@Lang.TipControlNumType</div>
                                                <div class="fred hide" id="mgControlNoErr2">@string.Format(Lang.TipControlnNum,8)</div>
                                                <p>@string.Format(Lang.TipDigitsConNum,8)</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fred"></span>@Lang.TipPaymentRec Payment Receipt:</td>
                                            <td>
                                                <input type="file" name="mgReceipt_ud" id="mgReceipt_ud" />
                                                <input type="hidden" name="mgReceipt" id="mgReceipt" />
                                                <p>@Lang.TipLessThan2M</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><a class="btn_orange btn_p30" href="javascript:void(0)" id="mgSubmit">@Lang.TipSubmit</a></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseWebmoney)
                {
                    <tr>
                        <td>
                            <input type="radio" id="wm" name="radio5" class="method_payment"><label for="wm"><ins class="wm"></ins></label><label for="wm"><span>@Lang.TipPaymentNameWebmoney</span></label>
                            <div class="method_info_cont" id="cont_wm">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipSmartIntBus</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipItToolOnline</td>
                                    </tr>
                                    <tr>
                                        <td>-</td>
                                        <td>@Lang.TipWebCurEur</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><a class="btn_orange btn_p30 btnOceanPayment" data-paymenttype="@((int)PaymentType.Webmoney)" href="javascript:void(0)">@Lang.TipPayNow</a></td>
                                    </tr>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
                @if (ViewBag.canUseQiWi)
                {
                    <tr>
                        <td>
                            <input type="radio" id="qw" name="radio5" class="method_payment"><label for="qw"><ins class="qw"></ins></label><label for="qw"><span>@Lang.TipPaymentNameQiWi</span></label>
                            <div class="method_info_cont" id="cont_qw">
                                <table cellpadding="0" cellspacing="0" class="qiwi_wallet">
                                    <tr>
                                        <td><span class="fred">*</span>@Lang.TipEnterTelNum</td>
                                    </tr>
                                    <tr>
                                        <td><i>+7</i><input type="tel" class="inputw310 input_text_wrap"/></td>
                                    </tr>
                                    <tr>
                                        <td><a href="javascript:void(0)" class=" btn_orange btn_p30 btnOceanPayment" data-paymenttype="@((int)PaymentType.QiWi)">@Lang.TipContinue</a></td>
                                    </tr>
                                </table>
                                <div class="clearfix"></div>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div class="clearfix"></div>
