@using Resources
<div class="exclusive_service">
    <h3>Exclusive Service</h3>
    <p><a rel="nofollow" href="@UrlRewriteHelper.GetProductSouringUrl()"><ins class="menu_service_oem"></ins>@Lang.TipOEMSourceing<span class="fblue">@Lang.TipPro</span></a></p>
    <p><a rel="nofollow" href="#"><ins class="menu_service_club"></ins>@Lang.Tip8SeasonsClub</a></p>
    <p><a rel="nofollow" href="#"><ins class="menu_service_sample"></ins>@Lang.TipFreeSample</a></p>
    <p><a rel="nofollow" href="#"><ins class="menu_service_cda"></ins>@Lang.TipDutyAdvice</a></p>
    <p><a rel="nofollow" href="#"><ins class="menu_service_shipping"></ins>@Lang.TipDropShipping</a></p>
</div>
