@using Resources
<div class="service_ease">
    <h3>@Lang.TipShopConfidence</h3>
    <ul>
        <li>
            <p>@Lang.TipSecurePayment</p>
        </li>
        <li>
            <p>@Lang.TipGuaranteedRefunds</p>
        </li>
        <li>
            <p>@Lang.TipShips48Hours</p>
        </li>
    </ul>
    <p>@Lang.Tip8seasonChooseUs, <a rel="nofollow" class="font_underline" href="#">@Lang.TipLearnMore</a></p>
</div>
