@using Com.Panduo.Common
@{
    Layout = null;
    string customerFullName = ViewBag.CustomerFullName;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Welcome to 8Seasons (Beads, Jewelry Making Supplies & Crafts Wholesaler)</title>
</head>
<body>
    <table align="0" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; background: #FFF;" width="670">
        <tr>
            <td valign="top">
                <table align="0" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #ccc;" width="670">
                    <tr>
                        <td>
                            <table width="670" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="5"></td>
                                    <td align="left" style="border-bottom: 1px solid #ccc; padding: 10px 0 5px 0;">
                                        <a href="javascript:void(0)">
                                            <img src="@Url.Content("~/Images/mail/news_logo.png")" border="0" alt=""/></a>
                                    </td>
                                    <td width="5"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px 0;">
                            <a href="@ViewBag.BannerLink" target="_blank">
                                <img src="@(ViewBag.BannerUrl)" alt="" border="0" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 12px; color: #333; font-family: Verdana,Arial; font-weight: normal; padding: 0 5px 0 8px; line-height: 18px;"><strong>Dear @(customerFullName.IsNullOrEmpty() ? "Customer" : ViewBag.CustomerFullName):</strong>
                            <p>Welcome to 8Seasons (Beads, Jewelry Making Supplies & Crafts Wholesaler). Your account on our website has been successfully created. </p>
                            <p>
                                The following is your  account information:<br />
                                <strong>- Registered email address:</strong> @ViewBag.CustomerEmail
                                @*<br /><strong>- Password:</strong> ViewBag.CustomerPassword*@
                            </p>
                            <p><span style="color: #ff6701">Kindly  Note:</span> we recommend you to keep this email for your records. If you forgot  your password in the future, you can check and refer to this email then.</p>
                            <p>
                                You could enjoy the following benefits now:<br />
                                1. Get Single Order Discount<br />
                                Just  place your orders freely, the discount will be taken at checkout automatically
                            </p>
                            <table width="98%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #e1e1e1; margin-left: 25px; line-height: 20px; margin: 0 auto;">
                                <tr>
                                    <td width="50%" valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">Total Product Price(Exclude Promotion Items)
                                    </td>
                                    <td width="50%" valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">Discount
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">More than USD 199
                                    </td>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">5%</td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">More than USD 499
                                    </td>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">6%
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">More than USD 999
                                    </td>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">8%
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">More than USD 1999
                                    </td>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">10%
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;">More than USD 4999
                                    </td>
                                    <td valign="top" style="border-bottom: 1px solid #e1e1e1; padding: 5px;">15%
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" style="padding: 5px; border-right: #e1e1e1 1px solid;">More than USD 9999
                                    </td>
                                    <td valign="top" style="padding: 5px;">18%
                                    </td>
                                </tr>
                            </table>
                            <p>2. When the total amount of your previous orders on  our website is up to USD 100, our system will automatically add you to our VIP  group. VIP discount will be applied according our <a href="javascript:void(0)" title="等新版Help Center内容确定下来才知道链接" style="color: #0066cc;">VIP policy</a>.</p>
                            <p>3. You've got the special registration coupon <strong>@ViewBag.CouponAmount</strong> now. <a href="http://www.8seasons.com/myaccount/coupon" style="color: #0066cc;">Check my coupon</a></p>
                            <p>4. You're qualified to get free gift once you make  order.</p>
                            <p>5. After you placed an order, you could download  pictures without watermark of the products you bought.</p>
                            <p>For help with any of  our online service, please email the store-owner: <a href="mailto:notification@8seasons.com" style="color: #0066cc;">notification@8seasons.com</a> .</p>
                            <p>
                                Best regards
                                <br />
                                8Seasons Team
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td width="670" style="text-align: center; font-size: 12px; color: #999; font-family: Verdana,Arial; font-weight: normal; padding: 10px; line-height: 20px; border: 1px solid #ccc;">&copy;2002-2015 Hangzhou Panduo Information technology Co., Ltd. China Wholesale Beads.<br />
                All rights reserved </td>
        </tr>
    </table>
    @* Todo:这里邮件主题别忘掉了 *@
    <!--<tilte>Welcome to 8Seasons ( Beads, Jewelry Making Supplies & Crafts Wholesaler )</tilte>-->
</body>
</html>
