@using Com.Panduo.Service
@using Com.Panduo.Service.Suggestion
@model SuggestionContent
@{
    Layout = null;
}

<!--<tilte>You have submitted successfully a message to 8seasons Team</tilte>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>newsletter-suggestion提交</title>
</head>

<body>
@if (!Model.IsNullOrEmpty())
{
    <table align="0" border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto; background: #FFF;" width="670">
        <tr>
            <td valign="top">
                <table align="0" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #ccc;" width="670">
                    <tr>
                        <td>
                            <table width="670" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="5"></td>
                                    <td align="left" style="border-bottom: 1px solid #ccc; padding: 10px 0 5px 0;"><a href="#">
                                        <img src="images/news_logo.png" alt="#" border="0"/></a></td>
                                    <td width="5"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="padding: 5px 0;"><a href="#">
                            <img src="images/news_banner.jpg" alt="#" border="0"/></a></td>
                    </tr>
                    <tr>
                        <td valign="top" style="font-size: 12px; color: #333; font-family: Verdana, Arial; font-weight: normal; padding: 0 5px 0 8px; line-height: 18px;"><strong>Dear @Model.FullName/Customer:</strong>
                            <p>Thank you very much for your suggestions; we will try our best to amend to leave you a happy shopping experience at 8Seasons with us! Following is a copy of your suggestion.</p>
                            <table width="98%" border="0" cellspacing="0" cellpadding="0" style="border: 1px solid #e1e1e1; margin-left: 25px; line-height: 20px; margin: 0 auto;">
                                <tr>
                                    <td width="35%" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;"><strong>From</strong></td>
                                    <td style="border-bottom: 1px solid #e1e1e1; padding: 5px;">@Model.FullName</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;"><strong>Email</strong></td>
                                    <td style="border-bottom: 1px solid #e1e1e1; padding: 5px;">@Model.Email</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;"><strong>Suggestions &amp; Wishes</strong></td>
                                    <td style="border-bottom: 1px solid #e1e1e1; padding: 5px;">@Html.Raw(Model.Content)</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;"><strong>Overall Impression</strong></td>
                                    <td style="border-bottom: 1px solid #e1e1e1; padding: 5px;">{X-具体的星级数} stars</td>
                                </tr>


                                @{
                                    var suggestionItems = ServiceFactory.SuggestionService.GetAllSuggestionItems(ServiceFactory.ConfigureService.SiteLanguageId);
                                }
                                @foreach (var suggestionItem in suggestionItems)
                                {
                                    <tr>
                                        <td valign="top" style="border-bottom: 1px solid #e1e1e1; border-right: #e1e1e1 1px solid; padding: 5px;"><strong>@suggestionItem.Name</strong></td>
                                        <td style="border-bottom: 1px solid #e1e1e1; padding: 5px;">
                                            @if (suggestionItem.SuggestionObjects.Count > 0)
                                            {
                                                foreach (var suggestionObject in suggestionItem.SuggestionObjects)
                                                {
                                                    @suggestionObject.Name
                                                    @Html.Raw(": ")

                                                    var o = suggestionObject;
                                                    var firstOrDefault = Model.Details.FirstOrDefault(m => m.ObjectId == o.Id);

                                                    if (firstOrDefault != null)
                                                    {
                                                        @firstOrDefault.Score
                                                        @Html.Raw(" stars<br />")
                                                    }

                                                }

                                            }

                                        </td>
                                    </tr>
                                }
                            </table>
                            <p>
                                Best regards<br/>
                                8Seasons Team
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="10"></td>
        </tr>
        <tr>
            <td width="670" style="text-align: center; font-size: 12px; color: #999; font-family: Verdana, Arial; font-weight: normal; padding: 10px; line-height: 20px; border: 1px solid #ccc;">&copy;2002-2015 Hangzhou Panduo Information technology Co., Ltd. China Wholesale Beads.<br/>
                All rights reserved </td>
        </tr>
    </table>
}
</body>
</html>

